:root {
  --green: #2a9d8f;
  --red: #e63946;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  background: var(--bg) no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

header h1 {
  font-weight: 100;
  letter-spacing: 0.25rem;
}

.form {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  overflow: hidden;
  border-radius: 5px;
  width: 20rem;
}

.form__input {
  padding: 0.5rem 1rem;
  outline: 0;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: inherit;
}

.form__input::-webkit-input-placeholder {
  color: var(--text-color);
}

.form__input:-ms-input-placeholder {
  color: var(--text-color);
}

.form__input::-ms-input-placeholder {
  color: var(--text-color);
}

.form__input::placeholder {
  color: var(--text-color);
}

.form__button {
  outline: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: var(--bg-color);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.form__button svg {
  margin: auto;
  width: 25px;
  height: 25px;
  fill: var(--text-color);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.form__button:hover {
  background: var(--text-color);
}

.form__button:hover svg {
  fill: var(--bg-color);
}

.todo-list {
  list-style: none;
  width: 25rem;
  margin-top: 1rem;
}

.todo-list .todo {
  padding: 0.5rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  background: var(--bg-color);
  -webkit-animation: SlideIn 1s ease forwards;
          animation: SlideIn 1s ease forwards;
}

.todo-list .todo__text {
  font-size: 1.5rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  max-width: 20rem;
  margin-right: auto;
  position: relative;
}

.todo-list .todo__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  height: 2px;
  width: calc(100% + 10px);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: var(--text-color);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  display: inline;
}

.todo-list .todo svg {
  width: 25px;
  height: 25px;
}

.todo-list .todo button {
  outline: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  margin-left: 0.5rem;
  background: none;
}

.todo-list .todo .complete svg {
  fill: var(--green);
}

.todo-list .todo .delete svg {
  fill: var(--red);
}

.todo-list .completed p::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@-webkit-keyframes SlideIn {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideIn {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0e0e0e;
    --text-color: #f5f5f5;
    --shadow-color: #000000;
    --bg: repeating-linear-gradient(
        22.5deg,
        rgb(20, 20, 20) 0px,
        rgb(20, 20, 20) 20px,
        transparent 20px,
        transparent 21px
      ),
      repeating-linear-gradient(
        112.5deg,
        rgb(20, 20, 20) 0px,
        rgb(20, 20, 20) 20px,
        transparent 20px,
        transparent 21px
      ),
      linear-gradient(
        90deg,
        hsl(148, 52%, 47%),
        hsl(220, 52%, 47%),
        hsl(292, 52%, 47%),
        hsl(4, 52%, 47%),
        hsl(76, 52%, 47%)
      );
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f5f5f5;
    --text-color: #0e0e0e;
    --shadow-color: #acacac;
    --bg: repeating-linear-gradient(
        249deg,
        transparent 0px,
        transparent 3px,
        rgb(230, 230, 230) 3px,
        rgb(230, 230, 230) 32px
      ),
      repeating-linear-gradient(
        307deg,
        transparent 0px,
        transparent 3px,
        rgb(230, 230, 230) 3px,
        rgb(230, 230, 230) 32px
      ),
      linear-gradient(
        90deg,
        hsl(191, 85%, 78%),
        hsl(242.429, 85%, 78%),
        hsl(293.857, 85%, 78%),
        hsl(345.286, 85%, 78%),
        rgb(247, 201, 128),
        rgb(178, 216, 135),
        rgb(102, 199, 133)
      );
  }
}
